@mixin status(){
  border-radius: 6px;
  font-size: 15px;
  text-align: center;
  border-radius: 6px;
  display: block;
  margin: -10px 0px;
  padding: 8px 12px;
  max-width: 200px;
}

.status-pending {
  @include status();
  background: #2B8CC4;
  color: #FEFEFE;
}

.status-declined {
  @include status();
  background: #DF3034;
  color: #FEFEFE;
}

.status-approved {
  @include status();
  background: #006435;
  color: #FEFEFE;
}

.status-in-progress {
  @include status();
  background: #FFBF47;
  color: #333;
}
