{% extends "app/layout.html" %}

{% from 'app/vendor/.govuk-frontend/components/back-link/macro.html' import govukBackLink %}
{% from 'app/vendor/.govuk-frontend/components/summary-list/macro.html' import govukSummaryList %}
{% from 'app/vendor/.govuk-frontend/components/accordion/macro.html' import govukAccordion %}

{% block title %}Amend research preferences{% endblock %}

{% block inner_content %}
<div class="govuk-width-container">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            <h1 class="govuk-heading-xl govuk-!-margin-bottom-3">Amend research preferences</h1>

            <form action="{{ url_for('verification.contact_preferences', item_id=item_id) }}" method="POST">
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>

                {{ form.contactable(params={
                    'fieldset': {
                        'legend': {
                            'text': 'Would the user like to take part in research?',
                            'isPageHeading': false,
                            'classes': 'govuk-fieldset__legend--s govuk-!-font-weight-regular'
                        }
                    }
                }) }}

                {{ form.contact_preferences(params={
                    'fieldset': {
                        'legend': {
                            'text': 'How should we contact the user?',
                            'isPageHeading': false,
                            'classes': 'govuk-fieldset__legend--s govuk-!-font-weight-regular'
                        }
                    },
                    'hint': {
                        'text': 'Select all that apply'
                    }
                }) }}

                {{ form.save_button(params={
                    'classes': 'lr-button--green'
                }) }}
            </form>
        </div>
    </div>
</div>
{% endblock %}